// Mixins
@font-face {
	font-family: 'FZXiJinLJW';
	src: url('../fonts/FZXiJinLJW.TTF');
	src: url('../fonts/FZXiJinLJW.TTF') format('truetype');
  }

.transition-all() {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.serif() {
	font: 300 1em/1.5 FZXiJinLJW, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, 'sans-serif';
}

.sans-serif () {
	font: 300 1em/1.5 FZXiJinLJW, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, 'sans-serif';
	line-height: 1.5;
}
